.projects-wrapper {
  padding: 60px 152px;
  line-height: 32px;
  width: 1400px;
  margin: auto;
}

.link-in-text {
  padding: 0px 2px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  margin: 16px 0px;
}

.project-card {
  flex: 1 0 30%;
}

@media screen and (max-width: 1024px) {
  .projects-wrapper {
    padding: 60px 64px;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .projects-wrapper {
    text-align: center;
    padding: 32px;
  }
}

@media screen and (max-width: 550px) {
  .projects {
    flex-direction: column;
    text-align: center;
    padding: 32px 16px;
  }
}
