.education-wrapper {
  padding: 60px 152px;
  line-height: 32px;
}

.education {
  line-height: 32px;
}

@media screen and (max-width: 1024px) {
  .education-wrapper {
    padding: 60px 64px;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .education-wrapper {
    padding: 32px;
  }
}
