.skills-wrapper {
  padding: 60px 152px;
  line-height: 32px;
  width: 1400px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .skills-wrapper {
    padding: 60px 64px;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .skills-wrapper {
    text-align: center;
    padding: 32px;
  }
}

@media screen and (max-width: 550px) {
  .skills-wrapper {
    text-align: center;
    padding: 32px 16px;
  }
}
